
/*s报障预警*/
.bz-page .fristLetter{
	color:#68ffe0;
}
.bz-page .fristLetter .underline{
	background: #68ffe0 ;
}
.bz-page .pageAniGroup{
	left: -18px;
	top: -135px;
}
.bz-dunpai,.bz-flash,.bz-ditu,.bz-neiquan,.bz-dian,.bz-shaomiao{
	position: absolute;
	display: block;
	left:px;
	top:0px;
}
.bz-dunpai,.bz-flash,.bz-neiquan{
	width: 400px;
	height: 400px;
	left:40px;
	top:98px;
}
.bz-shaomiao{
	width: 476px;
	height: 476px;
	left:-1px;
	top:61px;
}
.bz-ditu{
	width: 720px;
	height: 588px;
}

/*动画之前*/
.bz-ditu{
	opacity: 0.5;
	*filter: alpha(opacity=50);
}
.bz-dunpai,.bz-flash,.bz-neiquan,.bz-shaomiao{
	opacity: 0;
	*filter: alpha(opacity=0);
}
.bz-flash,.bz-dunpai{
	transform: scale(0,0);
}

/*动画之后*/
.bz-ditu.animate-show,
.bz-neiquan.animate-show,
.bz-flash.animate-show,
.bz-dunpai.animate-show,
.bz-shaomiao.animate-show
{
	opacity: 1;
	*filter: alpha(opacity=100);
}
.bz-flash.animate-show,
.bz-dunpai.animate-show{
	transform: scale(1,1);
}
/*s报障预警*/